/* CSS RESET */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Assistant', sans-serif;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ------------------------------------------------------------- */

/* Liens header brillants au survol */

li:hover,
li:active {
    color: white;
    text-shadow: 0px 0px 3px white;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

/* Class="link" brillants au survol */

.link:hover,
.link:active {
    color: white;
    text-shadow: 0px 0px 3px white;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

/* Liens modifiés en blanc */

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
    color: white;
}

/* Bg */

body {
    background-color: #eea849;
}

/* Mobile responsive bg*/

@media screen and (max-width:600px) {
    body {
        background-color: #363636;
    }
}

/* HERO */

.hero-container {
    position: relative;
}

.hero h1 {
    display: block;
    font-size: 70px;
    position: absolute;
    margin: auto;
    text-align: center;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

.hero img {
    max-width: 100%;
}

/* Menu Burger repris d'un code plutôt sympa trouvé sur internet, je m'arrache les cheveux à essayer de comprendre pour pas l'ajouter sans savoir comment ca marche éxactement!*/

/* Nav bar */

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #00BAF0;
    background: linear-gradient(to left, #363636, #eea849);
    color: white;
    height: 50px;
    padding: 1em;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

/* Expacement menu */

.menu>li {
    margin: 0 1rem;
    overflow: hidden;
}

/* Position du bouton menu bugger */

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

/* Animation menu burger */

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

/* Responsive */

@media (max-width: 768px) {
    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        z-index: 10;
    }

    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li {
        border: 1px solid #333;
        height: 50px;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu>li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
    }

    .menu>li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}

/* ---------------------------------------------------------------------------------------------------- */

/* Texte responsive (Peut être utile plus tard)

@media (max-width: 768px) {

    p,
    a {
        font-size: 1.25rem;
        line-height: 1.25;
    }
}

*/

/* Flex box */

.photo-grid-container {
    display: flex;
    justify-content: center;
}

.photo-grid {
    gap: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 0 1em 1em 1em;
}

.img-container2 {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 3px;
}

/* PROPRIETE IMAGES FLEX BOX A CONTINUER ------------------------------------------ */

/* Img border, size */

#apropos img {
    display: block;
    margin: auto;
    padding: auto;
    width: 300px;
}

.img-container2:hover,
img:active {
    opacity: 0.5;
}

.grey img:only-of-type {
    filter: grayscale(100%);
}

#contact h2 {
    vertical-align: center;
    text-align: center;
    margin-bottom: 1em;
    font-size: 35px;
}

#projets h2 {
    vertical-align: center;
    text-align: center;
    margin: 1em 0 1em 0;
    font-size: 35px;
}

/* Contact */

* {
    box-sizing: border-box;
} 

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.contact-container {
    background-color: white;
    padding: 1em;
}

.form-part1 {
    float: left;
    width: 10%;
    margin-top: 6px;
    text-align: end;
}

.form-part2 {
    float: left;
    width: 90%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {

    .form-part1,
    .form-part2,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
    .form-part1 {
        text-align: center;
    }
}